#PER PROGETTO C
OrderedArrayExample/OrderedArray_C/scr/unity*
OrderedArrayExample/OrderedArray_C/bin/
OrderedArrayExample/OrderedArray_C/build/

#ORDERED ARRAY
OrderedArrayExample/OrderedArray_Java/*.jar
OrderedArrayExample/OrderedArray_Java/classes/
OrderedArrayExample/*.csv
OrderedArrayExample/**/*.zip

#ESERCIZIO 1
Es1/Esercizio1_Java/classes
Es1/Esercizio1_Java/*.jar

#ESERCIZIO 2
Es2/Esercizio2_Java/*.jar
Es2/Esercizio2_Java/classes
Es2/Esercizio2_Java/*.txt

#ESERCIZIO 3
Es3/Esercizio3_Java/classes
Es3/Esercizio3_Java/src/heap/Test.java
Es3/Esercizio3_java/*.jar

#ESERCIZIO 4
Es4/Esercizio4_Java/classes
Es4/Esercizio4_Java/javadoc
Es4/Esercizio4_Java/*.jar
Es4/Esercizio4_java/src/graph/Test.java


# NON CARICO I FILE PDF
./*.pdf

