OrderedArrayExample/*.csv
OrderedArrayExample/**/*.zip
Es2/Esercizio2_Java/*.txt

#PER PROGETTO C
OrderedArrayExample/OrderedArray_C/scr/unity*
OrderedArrayExample/OrderedArray_C/bin/
OrderedArrayExample/OrderedArray_C/build/

#PER PROGETTO JAVA
OrderedArrayExample/OrderedArray_Java/*.jar
OrderedArrayExample/OrderedArray_Java/classes/
Es1/Esercizio1_Java/classes
Es1/Esercizio1_Java/JUnit
Es2/Esercizio2_Java/*.jar
Es2/Esercizio2_Java/classes


# NON CARICO I FILE PDF
./*.pdf


